.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divh {
  background-color: brown;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menuItems {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 03px;
}

.hiv {
  display: flex;
  align-items: center;
  width: 100%;
  gap: "10px";
}

.div2 {
  background-color: #41f67f;
  width: 100%;
  height: 1000px;
}

/*page 2*/

.insc {
  background-color: aqua;

  display: flex;
}

.app {
  background-color: aquamarine;
  display: flex;
}

.goo {
  background-color: aliceblue;
  display: flex;
}

.ou {
  background-color: bisque;
  display: flex;
}

.cree {
  background-color: coral;
  display: flex;
}

.deja {
  background-color: darkgreen;
  display: flex;
  border: 5px solid #ddd;
}

.conn {
  background-color: firebrick;
  display: flex;
}

/* Home.module.css */

.heroSection {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(12, 12, 11);
  width: 100%;
  height: 100vh;
  padding-left: 50px;
}

.heroContent {
  max-width: 600px;
}

.heroTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f7f3f3;
}

.heroSubtitle {
  font-size: 1.2rem;
  color: #ebe5e5;
  margin-bottom: 20px;
}

.heroButtons {
  margin-top: 20px;
}

.primaryButton,
.secondaryButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.primaryButton {
  color: #41f67f;
}

.secondaryButton {
  color: #333;
}

.heroImage {
  max-width: 400px;
  height: auto;
  margin: 150px;
}

/* Home.module.css */

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: white;
  z-index: 1000; /* assurez-vous que le header apparaît au-dessus du contenu */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* ombre pour distinguer le header du reste du contenu */
  display: flex;
  justify-content: flex-start;
  height: 10vh;
  background-color: white;
}

/* Home.module.css */

/* Styles pour la modal */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styles pour le bouton de téléchargement */
.primaryButton {
  background-color: #41f67f;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.parent1 {
  display: flex;
  height: 1000px;
  gap: 20px;
  justify-content: space-between;
}

.page2 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page2container {
  background-color: #615c5c;
  background: #000000;
}

.mini {
  color: white;
}

.title {
  color: white;
}

.descript {
  color: white;
}

.box {
  background-color: #41f67f;
  height: 400px;
  width: 20vw;
  border-radius: 10px;
  padding: 20px;
}

/*page3*/

.page3 {
  background-color: #000000;
  color: #441a1a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 100px;
  margin-top: -50px;
}

.heroImaze {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
}

.text1 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-top: 50px;
}

/*page4*/

.page4 {
  background-color: #000000;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para {
  color: white;
  display: flex;
  justify-content: flex-start;
}

.text2 {
  margin-right: 50px;
}

.img {
  color: white;
  height: 150px;
  width: 250px;
  display: flex;
  justify-content: space-around;
}

.potent {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.euro {
  display: flex;
  justify-content: center;
  gap: 50px;
}

/*page5*/

.princi {
  background-color: #000000;
  color: white;
  height: 50vh;
  text-align: center;
}

.princi h2 {
  margin: 0;
}

.box1 {
  color: white;
  width: 450px;
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  padding: 30px;
  justify-content: flex-start;
}

.boxcontainer {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  justify-content: center;
}



/*page6*/


.page6 {
  background-color: rgb(46, 34, 34);
  color: white;
  height: 200vh;
  display: flex;
  justify-content: center;
  
}