.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.header {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  height: "50px";
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divh {
  background-color: brown;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menuItems {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 03px;
}

.hiv {
  display: flex;
  align-items: center;
  width: 100%;
  gap: "10px";
}

.div2 {
  background-color: #41f67f;
  width: 100%;
  height: 1000px;
}

/*page 2*/


.insc {
  background-color: aqua;

  display: flex;
}


.app {
  background-color: aquamarine;
  display: flex;
}


.goo {
  background-color: aliceblue;
  display: flex;
}


.ou {
  background-color: bisque;
  display: flex;
}


.cree {
  background-color: coral;
  display: flex;
}


.deja {
  background-color: darkgreen;
  
  display: flex;
  border: 10px solid #ddd;
}


.conn {
  background-color: firebrick;
  display: flex;
}
